# Entornos virtuales de Python
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de IntelliJ IDEA / PyCharm
.idea/
*.iml

# Archivos generados automáticamente por ANTLR
gen/